* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  outline: none;
  scroll-behavior: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.container {
  height: 80vh;
}
.navbar {
  background-image: linear-gradient(
    to right,
    var(--bg-color) 0%,
    rgb(161, 158, 158) 50%,
    var(--bg-color) 100%
  );
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}
.name {
  font-size: 2rem;

  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.name span {
  color: var(--main-color);
}
.navbar-options {
  display: flex;
}

.navbar-options a {
  margin-left: 20px;
  color: var(--text-color);
  font-size: 1.7rem;
  margin-left: 4rem;
  margin-top: 1rem;
  font-weight: 600;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  transition: 0.3s ease;
}
.navbar-options a:hover,
.navbar-options a:active {
  box-shadow: #0ef 2px 0px 15px;
  color: var(--main-color);
}
.main {
  display: flex;
  background-image: linear-gradient(
    to bottom,
    var(--bg-color) 0%,
    rgb(128, 125, 125) 70%,
    var(--bg-color) 100%
  );
}
.devinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6vw;
  color: var(--text-color);
}
.devinfo-container h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.devinfo-container h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.devinfo-container h1 span {
  color: var(--main-color);
}
.devinfo-container p {
  margin-top: 3vh;
  font-size: 1.6rem;
}
.devinfo-container h3 span {
  font-size: 3.2rem;
  color: var(--main-color);
}
.btn {
  margin-top: 10vh;
  margin-right: 5vw;
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  background-color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  transition: transform 0.4s;
}

.btn:hover {
  box-shadow: none;
  transform: scale(1.1);
  color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  background-color: var(--second-bg-color);
}
.devpic {
  /* background-color: blue; */
  margin-right: 10vw;
  width: 50vw;
}
.one {
  display: flex;
}
/* ---------------------------------------------skill---------------------------------------- */
.skill {
  background-image: linear-gradient(
    to bottom,
    var(--bg-color) 0%,
    rgb(128, 125, 125) 70%,
    var(--bg-color) 100%
  );
}
.skill-name {
  color: var(--main-color);
  font-size: 2.4rem;
  text-align: center;
}
.skill-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 100px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 180px;
}

.boxes {
  background-color: var(--second-bg-color);
  padding: 40px;
  font-size: 13px;
  border-radius: 10px;
  transition: 0.5s ease;
  transition: transform 0.4s;
}
.boxes p {
  color: var(--text-color);
  font-weight: bold;
}
.boxes i {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.boxes h3 {
  color: var(--text-color);
  font-size: bold;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.boxes a {
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.boxes:hover {
  transform: translateY(-10px);
  background-image: linear-gradient(
    to bottom,
    var(--main-color) 0%,
    var(--second-bg-color) 60%
  );
}
/* ------------------------CONTACT-INFORMATION--------------------------------- */
.contact {
  background-color: var(--second-bg-color);
}
.contact-name {
  color: var(--text-color);
  font-size: 2.4rem;
  text-align: center;
}
.contact-option {
  display: inline-block;
  font-size: 3rem;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: 30vw;
  margin-right: 27vw;
}
.contact-option a {
  margin-left: 3vw;
  margin-right: 2vw;
  color: var(--main-color);
  transition: transform 0.4s ease;
}
.contact-option a:hover {
  transform: translateY(-10px);
  color: rgb(181, 237, 238);
}
.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  font-weight: bold;
}
.return {
  background-image: linear-gradient(
    to bottom,
    var(--bg-color) 0%,
    rgb(128, 125, 125) 70%,
    var(--bg-color) 100%
  );
  height: 50vh;
}
.return .btn {
  margin-left: 40vw;
}
.return .btn:hover {
  color: var(--text-color);
}
